In [10]:
import pandas as pd
import numpy as np
import os

In [8]:
df_LIDC = pd.read_csv('../data/LIDC_labels.csv')
df_LIDC.head()

,subtlety,internalStructure,calcification,sphericity,margin,lobulation,spiculation,texture,malignancy,noduleID
0,5,1.0,6.0,3,4,3,5,5,5,1
1,2,1.0,6.0,4,2,1,1,2,5,2
2,5,1.0,6.0,4,3,2,2,4,5,3
3,4,1.0,6.0,4,4,1,2,5,4,4
4,4,1.0,6.0,5,5,1,1,5,4,5

In [9]:
df_labels = df_LIDC[['noduleID', 'spiculation', 'malignancy']]
df_labels.head()

   noduleID  spiculation  malignancy
0         1            5           5
1         2            1           5
2         3            2           5
3         4            2           4
4         5            1           4

In [ ]:
df_labels['Spiculation_b'] = np.where()

# Get Nodule ID

In [12]:
image_folder = '../LIDC(MaxSlices)_Nodules'
noduleIDs = []

for file in os.scandir(image_folder):
    noduleID = int(file.name.split('.')[0])
    noduleIDs.append(noduleID)

In [13]:
len(noduleIDs)

2680

In [15]:
df_labels = df_labels[df_labels['noduleID'].isin(noduleIDs)]

In [17]:
df_labels.to_csv('../data/LIDC_labels.csv')

      noduleID  spiculation  malignancy
0            1            5           5
1            2            1           5
2            3            2           5
3            4            2           4
4            5            1           4
...        ...          ...         ...
2682      2687            2           4
2683      2688            1           2
2684      2689            1           2
2685      2690            2           5
2686      2691            1           2

[2680 rows x 3 columns]